.login {
  .card {
    background-color: #efefef;
    padding: 50px;
    .form {
      padding: 50px 50px 50px 50px;
      .form-title {
        color: #1eb0ec;
      }
      .qc-code {
        color: #1eb0ec;
      }
      .findPassword {
        color: #1eb0ec;
        font-size: 0.7rem;
      }
    }
  }
}
