.classroom {
  .img {
    width: 100%;
    height: 10rem;
  }
  .content {
    background-color: #efefef;
    margin-top: -18px;
    padding: 40px;
    .card {
      background-color: #fff;
      padding: 40px;
      .title {
        font-size: 1.4rem;
        color: #333;
        display: flex;
        span {
          margin-top: 7px;
        }
        button {
          margin-left: 30px;
          color: #ffffff;
          background-color: rgba(30, 176, 236, 1);
        }
        button:after {
          border-color: rgba(30, 176, 236, 1);
        }
        .price {
          margin-left: 40px;
          color: rgba(30, 176, 236, 1);
        }
      }
      .sub-title {
        display: block;
        font-size: 1rem;
        color: #999;
        margin-top: 20px;
      }
    }
    // 滚动标题
    .at-tabs__item {
      font-size: 0.8rem;
      color: #1eb0ec;
    }
    .at-tabs__item--active::after {
      background-color: #1eb0ec;
    }
    //翻页基础
    .tab-base {
      padding: 1.5rem 0.8rem;
      color: #333333;
      font-size: 0.8rem;
    }
    // 课程目录
    .schedule .class-title {
      padding-bottom: 0.3rem;
      display: inline-block;
      width: 100%;
    }
    // 留言板
    .message-board {
      text-align: right;
      button {
        margin-top: 20px;
        background-color: #1eb0ec;
        color: #fff;
      }

      .message-list {
        text-align: left;
        .message-item {
          .message-left {
            display: inline-block;
            width: 13%;
          }
          .message-right {
            display: inline-block;
            width: 87%;
            // padding: 20px;
            .message-name {
              display: flex;
              justify-content: space-between;
              span {
                font-size: 0.7rem;
                color: #999;
                margin-top: 0.5rem;
                margin-bottom: 0.2rem;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 500px) {
    .img {
      height: 300px !important;
    }
    .content {
      margin-top: -20px !important;
      padding: 20px !important;
      .card {
        padding: 0.3rem !important;
        display: flex;
        video {
          width: 50% !important;
          height: 100% !important;
        }
        .right {
          width: 50% !important;
          line-height: 1px !important;
          margin-left: 20px !important;
          .title {
            font-size: 20px !important;
            line-height: 10px !important;
            button:after {
              border-width: 2px;
            }
          }
          .sub-title {
            font-size: 12px !important;
            margin-top: 40px !important;
            .price {
              font-size: 12px !important;
            }
          }
          .content {
            margin-top: 27px !important;
            line-height: 13px !important;
            padding: 10px !important;
          }
        }
      }

      .at-tabs__item {
        font-size: 15px !important;
      }
      .tab-base {
        padding: 15px 10px 0 10px !important;
        font-size: 14px;
      }

      .message-board {
        .at-textarea {
          padding: 0 10px 3px 10px !important;
        }
        .at-textarea__textarea {
          font-size: 0.3rem;
          height: 20px;
        }
        .at-textarea__bottom {
          font-size: 0.3rem;
        }
      }
    }
    // 留言板
    .message-board {
      button {
        margin-top: 20px;
      }

      .message-list {
        .message-item {
          .message-left {
            width: 8% !important;
            .at-avatar {
              width: 50px !important;
              height: 50px !important;
              font-size: 0px !important;
            }
          }
          .message-right {
            width: 92%;
            font-size: 10px;
            .message-name {
              span {
                font-size: 10px !important;
                color: #999;
                margin-top: 0.5rem;
                margin-bottom: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
}
