.container {
  .title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: #666;
    margin-top: 1.5rem;
  }
  .sub-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #999;
  }
  .list{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap ;
  }
}
