.head {
  display: flex;
  .left {
    width: 30%;
    .logo {
      margin-left: 40px;
      margin-top: 10px;
      width: 550px;
      height: 150px;
    }
  }

  .right {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    // height: 100px;
    padding-bottom: 10px;
    span {
      margin-top: 50px;
      margin-right: 20px;
    }
    button {
      background-color: #ffffff;
      color: rgba(30, 176, 236, 1);
      margin-top: 20px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 0;
      padding: 0 10px 0 10px;
      
    }
    button:after {
      border-color: rgba(30, 176, 236, 1);
    }
  }
  // 大于 400 pc 端了
  @media screen and (min-width: 500px) {
    .logo {
      margin-left: 0 !important;
      margin-top: 20px !important;
      width: 250px !important;
      height: 70px !important;
    }
    .right {
      span {
        font-size: 10px !important;
        margin-top: 0px !important;
      }
      button {
        // height: 20px;
        background-color: #ffffff;
        color: rgba(30, 176, 236, 1);
        margin-top: 0px !important;
        margin-right: 10px !important;
      }
      button:after {
        border-width: 2px;
      }
    }
  }
}
