.video-item {
  width: 50%;
  text-align: center;
  margin-bottom: 25px;
  .item-content {
    display: inline-block;
    width: 95%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    .cover {
      width: 100%;
      height: 7rem;
    }
    .item-title {
      box-sizing: border-box;
      display: block;
      width: 100%;
      text-align: left;
      font-size: 1rem;
      color: #333;
      padding-left: 25px;
    }
    .title-group {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      text-align: left;
      font-size: 0.8rem;
      color: #aaa;
      display: flex;
      justify-content: space-between;
      .playback span {
        margin-top: -6px;
      }
      .price {
        color: rgba(30, 176, 236, 1);
      }
    }
  }
}
