.find-password {
  .card {
    background-color: #efefef;
    padding: 50px;
    background: url(http://file.liangtongzhuo.com/8147ce86b29d5ce98a29.jpeg) no-repeat  center;
    background-size:100% 100%;
    .form {
      padding: 50px 50px 50px 50px;
      .form-title {
        color: #1eb0ec;
      }
      .qc-code {
        color: #1eb0ec;
      }
      .findPassword {
        color: #1eb0ec;
        font-size: 0.7rem;
      }
    }
  }
}
