button:hover {
  color: #fff !important;
  background-color: #1eb0ec !important;
}

.card{
  background: url(http://file.liangtongzhuo.com/8147ce86b29d5ce98a29.jpeg) no-repeat  center;
  background-size:100% 100%;
}


// 大于 400 pc 端了
@media screen and (min-width: 400px) {
  .taro_router {
    width: 1000px !important;
    // text-align: center;
    // overflow: hidden;
    margin-right: auto !important;
    margin-left: auto !important;
    position: inherit !important;
  }
  .taro_page {
    position: inherit !important;
  }
}
