button:hover {
  color: #fff !important;
  background-color: #1eb0ec !important;
}

// 大于 400 pc 端了
@media screen and (min-width: 500px) {
  .taro_router {
    width: 1000px !important;
    // text-align: center;
    // overflow: hidden;
    margin-right: auto !important;
    margin-left: auto !important;
    position: inherit !important;
  }
  .taro_page {
    position: inherit !important;
  }
  .at-toast .toast-body {
    font-size: 5px !important;
  }
}
